@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit; display: block;}
html,body{
    height: 100%;
}
.blind{position: absolute; left: -9999px; font-size: 0;}

body{
    font-family: 'Pretendard-Regular';
    color: #fff;
    /* background-color: #ddd; */
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    position: absolute;
    z-index: 900;
    height: 100px;
    /* border: 1px solid red; */
    cursor: pointer;
}
header:hover{
    background-color: #ffffff67;
}
header h1{}
header h1 a{
    background: url("../images/logo.svg") no-repeat center;
    width: 99px; height: 34px;
    text-indent: -9999px;
    transition: all 0.3s;
    padding: 50px 0;
}
header h1 a.on{
    background: url("../images/logo_ori.svg") no-repeat center;
}
header nav{
    width: 50%;
    height: 100px;
    position: relative;
    /* border: 1px solid blue; */
    z-index: 101;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; height: 100px;
    /* border: 1px solid red; */
}
.main>li{
    position: relative;
    /* border: 1px solid red; */
}

.main>li>a{
    transition: all 0.3s;
    font-weight: 900;
    font-size: 1.1rem;
    letter-spacing: 1px;
    position: relative;
    /* border: 1px solid red; */
    padding: 0 20px;
}
.main>li:hover>a{
    /* color: #f93; */
    color: #fff;
}


.main>li>a:before{
    content: "";
    position: absolute;
    transform: scale(0);
    transition: 0.2s ease transform;
    top: -2px; left: 10px;
    width: 8px; height: 8px;
    border-radius: 50%;
    background-color: #f93;
}

.main>li:hover>a:before{
    transform: scale(1);
}


.sub{
    position: absolute;
    top: 60px; left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 210px;
    /* border: 1px solid red; */
    display: none;
    /* z-index: 3000; */
}
.sub li{margin: 10px 0;}

.sub li a{
    /* border: 1px solid red; */
    text-align: center;
    margin: 15px 0;
    letter-spacing: 1px;
    transition: all 0.3s;
}
.sub li a:hover{
    color: #f93;
    font-weight: 500;
}

/* .menu_bg{
    width: 100vw; 
    height: 210px;
    background-color: #ffffff5b;
    display: none;
    position: absolute;
    top: 100px; left: 0;
    z-index: 199;
} */

#indicator
{   /* display: none; */
    position: absolute;
    left: 5%;
    bottom: 20px;
    /* width: calc((100% / 4) - 5%); */
    width: 0%;
    height: 2px;
    background-color: #f93;
    border-radius: 5px;
    transition: 0.2s ease left;
    z-index: 300;
    
}

.gnb{}
.gnb a{width: 80%;}
.gnb a img{width: 80%;}
.gnb a:hover img{filter: hue-rotate(180deg);}



.scrolldown{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll 1s infinite ease-out;
    z-index: 100;
}

@keyframes scroll{
    0%{bottom: 30px;}
    50%{bottom: 50px;}
    100%{bottom: 30px;}
}



#wrap{}
.wrap_inner section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
}

/* .section01{background: url("../images/main01.jpg") no-repeat center;}

.section01-2{background: url("../images/main02.avif") no-repeat center;}

.section01-3{background: url("../images/main03.jpg") no-repeat center;} */

.section01_inner{
    /* border: 1px solid red; */
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #777777af;
}

.section01_inner h2{
    font-size: 40px; 
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 800;
}
.section01_inner p{
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
}
.section01_inner a{
    border: 1px solid #fff;
    width: 180px; height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    border-radius: 50px;
    margin: 50px auto;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
}
.section01_inner a:hover{background-color: #f93;  border: transparent; }

.wrap_inner_in{position: relative;}

.circle_box{
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.box{
    width: 3000px;
    height: 1000px;    
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 두번째 페이지 */

.section02{
    width: 100vw;
    height: auto;
    /* border: 1px solid red; */
}
.section02_inner{
    /* border: 1px solid red; */
    text-align: center;
    color: #333;
} 
.section02_inner h2{
    margin-bottom: 30px;
}
.section02_inner h2 span{
    color: #f93;
}
.section02_inner p {
    line-height: 1.5;

}
.section02_inner ul{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    /* border: 1px solid red; */
}
.section02_inner ul li{
    width: 150px; height: 150px;
    /* background-image: url("../images/circle.png"); */
    border: #f93 solid 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.section02_inner ul li:hover img{
    top: 33%; 
/* 그라데이션 원 png로 제작해서 백그라운드로 넣기 */
}
.section02_inner ul li:hover span{
    color: #f93;
}
.section02_inner ul li img{
    width: 30%;
    margin: 0 auto;
    transition: all 0.3s;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}
.section02_inner ul li span{
    position: absolute;
    margin-top: 5px;
    bottom: 35px; left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
}
/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////// */

.section03{
    width: 100vw; height: 100vh;
    /* border: 1px solid orange; */
    margin-top: 180px;
}

.portfolio_title{
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    margin-bottom: 100px;
}
.portfolio_title h2{padding-left: 150px; font-size: 36px;}
.portfolio_title ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfolio_title ul li{
}

.portfolio_title ul li a{
    padding: 15px 40px;
    margin: 0 6px;
    background-color: #ddd;
    color: #000;
    transition: all 0.3s;
}
.portfolio_title ul li:hover a{
    background-color: #1c3899;
    color: #fff;
}

.portfolio_outer{
    position: relative;
    /* border: 1px solid red; */
    
}

.portfolio_outer > div{
    /* border: 1px solid yellow; */
    position: absolute;
    width: 100%; height: auto;
}

.portfolio_tree{

}

.p_tree_box{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.bluebox{
    width: 55%; height: 600px;
    float: left;
}


.p_tree_box .p_tree_img1{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_tree1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_tree_box .p_tree_img2{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_tree2.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_tree_box .p_tree_img3{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_tree3.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_tree_box .bluebox_arrow{}


.portfolio_inner_text{
    float: right;
    height: 600px;
    width: 33%;
    /* border: 1px solid red; */
    color: #152a77;
    line-height: 2;
    background-color: #fff;
}
.portfolio_inner_text h3{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 40px 0;
    padding-top: 60px;
}
.portfolio_inner_text .vertical_bar{
    width: 50px; height: 1px;
    background-color: #0c1b51;
    margin: 30px 0;
}
.portfolio_inner_text h4{}
.portfolio_inner_text p{
    margin: 50px 0;
}
.portfolio_inner_text a{
    display: block;
    width: 180px; height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #0c1b51;
    transition: all 0.3s;
}
.portfolio_inner_text a:hover{
    background: #1c3899;
    color: #fff;
}

/* ///건축/////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */

.p_archi_box{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_archi_box .p_archi_img1{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_Architecture_1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_archi_box .p_archi_img2{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_Architecture_2.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_archi_box .p_archi_img3{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_Architecture_3.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* ///플랜트////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */

.p_plant_box{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_plant_box .p_plant_img1{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_industry_1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_plant_box .p_plant_img2{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_industry_2.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* ///해외사업///////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */

.p_overseas_box{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_overseas_box .p_overseas_img1{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_overseas_1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.portfolio_tree .slick-arrow{
    position: absolute;
    top: 50%;
    width: calc(57px/2); 
    height: 23px;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 11;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}

.portfolio_tree .slick-arrow.slick-prev{
    background: url("../images/left_arrow.png") no-repeat;
    left: calc(50% - 700px);
}
.portfolio_tree .slick-arrow.slick-next{
    background: url("../images/right_arrow.png") no-repeat;
    right: calc(50% - 800px);
    background-position: right;
}


.portfolio_archi .slick-arrow{
    position: absolute;
    top: 50%;
    width: calc(57px/2); 
    height: 23px;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 11;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}
.portfolio_archi .slick-arrow.slick-prev{
    background: url("../images/left_arrow.png") no-repeat;
    left: calc(50% - 700px);
}
.portfolio_archi .slick-arrow.slick-next{
    background: url("../images/right_arrow.png") no-repeat;
    right: calc(50% - 800px);
    background-position: right;
}


.portfolio_plant .slick-arrow{
    position: absolute;
    top: 50%;
    width: calc(57px/2); 
    height: 23px;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 11;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}
.portfolio_plant .slick-arrow.slick-prev{
    background: url("../images/left_arrow.png") no-repeat;
    left: calc(50% - 700px);
}
.portfolio_plant .slick-arrow.slick-next{
    background: url("../images/right_arrow.png") no-repeat;
    right: calc(50% - 800px);
    background-position: right;
}


.section04{
    width: 100vw; height: 90vh;
    /* border: 3px solid forestgreen; */
    display: flex;
    margin: 0 auto;
    background-image: url("../images/login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.2s;
}
.sec4box {
    flex: 1;
    height: 100vh;
    border-right: 1px solid #dddddd31;
    /* filter: grayscale(0.8); */
    overflow: hidden; 
    transition: all 0.5s;
    background-color: rgba(73, 73, 73, 0.452);
    
}


.sec4box:hover {
    filter: grayscale(0);
    flex: 1.5;
    background-color: rgba(155, 79, 4, 0.582);
}
.sec4box {
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.sec4box h2, .sec4box p{
    text-align: center;
    padding: 20px 0;
    text-shadow: 0 1px 1px #999;
}
.sec4box p{
    line-height: 1.6;

}

/* /////////////////////////////////////////////////////
/////////////////////////////////////////////////////
///////////////////////////////////////////////////// */

.footer{
    width: 100%; height: 90vh;
    /* border: 1px solid red; */
    color: #333;
}

.footer h2{
    /* border: 1px solid red; */
    margin: 30px 0 0 100px;
    width: 300px;
    padding: 25px 25px 25px 0;
    font-size: 2rem;
    font-weight: 900;
}

.con_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.con_top_left{
    /* border: 1px solid blue; */
    margin-left: 100px;
    line-height: 2;
}

.con_top_left .checkbox{}
.con_top_left p{font-size: 14px;}
.con_top_left p:nth-child(2){font-weight: 700;}
.con_top_left p:nth-child(3){}


.con_top_right{
    /* border: 1px solid blue; */
    margin-right: 100px;
}

.con_form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: auto; */
    height: auto;
}

.con_form input{
    border: none;
    background-color: #f5f6fa;
    padding: 20px;
    color: #555;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
}

.con1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.con2{height: 100%; display: flex;}

.con2 textarea{
    height: 280px;  width: 500px;
    border: none;
    background-color: #f5f6fa;
    padding: 20px;
    color: #555;
    border-radius: 20px;
}

.con3{}
.con3 input{
    height: 280px; width: 200px;
    background: #1c3899;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
.con3 input:hover{background: #142872;}

.con_bottom{
    display: flex; justify-content: space-between; align-items: center;
}
.con_bottom_left{
    margin: 150px 0 0 100px;
    /* border: 1px solid red; */

}
.con_bottom_left .intro{
    font-weight: 800;
    font-size: 14px;
}

.con_bottom_left .intro p{
    margin-top: 10px;
}

.con_bottom_left .info{
    color: #999;
    font-size: 14px;
    margin: 30px 0;

}
.con_bottom_left .copy{
    font-weight: 800;
    font-size: 14px;
}

.con_bottom_right{
    margin: 80px 100px 0 0;
    /* border: 1px solid blue; */
    text-align: right;
}
.con_bottom_right .mail{
    font-weight: 800;
    font-size: 30px;
}
.con_bottom_right .telNum{
    font-weight: 800;
    font-size: 36px;
    margin: 30px 0;
}
.con_bottom_right .time{
    font-size: 14px;
}

.con_bottom_right .topbutton{
    width: 64px; height: 65px;
    margin: 15px 0 0 auto;
    transition: all 0.2s;
    box-shadow: 0 0 2px #ccc;
}
.con_bottom_right .topbutton a{
    transition: all 0.3s;
}
.con_bottom_right .topbutton:hover img{
    box-shadow: 0 0 2px #ddd;
}