@charset "utf-8";

header{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    position: absolute;
    z-index: 900;
    height: 100px;
    /* border: 1px solid red; */
    cursor: pointer;
}
header.bgON{background-color: #00000067;}
header h1{}
header h1 a{
    background: url("../images/logo.svg") no-repeat center;
    width: 99px; height: 34px;
    text-indent: -9999px;
    transition: all 0.3s;
    padding: 50px 0;
}
header h1 a.on{
    background: url("../images/logo_ori.svg") no-repeat center;
}
header nav{
    width: 50%;
    height: 100px;
    position: relative;
    /* border: 1px solid blue; */
    z-index: 101;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; height: 100px;
    /* border: 1px solid red; */
}
.main>li{
    position: relative;
    /* border: 1px solid red; */
}

.main>li>a{
    transition: all 0.3s;
    font-weight: 900;
    font-size: 1.1rem;
    letter-spacing: 1px;
    position: relative;
    /* border: 1px solid red; */
    padding: 0 20px;
}
.main>li:hover>a{color: #fff;}

.main>li>a:before{
    content: "";
    position: absolute;
    transform: scale(0);
    transition: 0.2s ease transform;
    top: -2px; left: 10px;
    width: 8px; height: 8px;
    border-radius: 50%;
    background-color: #f93;
}

.main>li:hover>a:before{transform: scale(1);}

.sub{
    position: absolute;
    top: 60px; left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 210px;
    /* border: 1px solid red; */
    display: none;
    /* z-index: 3000; */
}
.sub li{margin: 10px 0;}

.sub li a{
    /* border: 1px solid red; */
    text-align: center;
    margin: 15px 0;
    letter-spacing: 1px;
    transition: all 0.3s;
}
.sub li a:hover{
    color: #f93;
    font-weight: 500;
}

#indicator
{   /* display: none; */
    position: absolute;
    left: 5%;
    bottom: 20px;
    /* width: calc((100% / 4) - 5%); */
    width: 0%;
    height: 2px;
    background-color: #f93;
    border-radius: 5px;
    transition: 0.2s ease left;
    z-index: 300;
}

.gnb{
    /* border: 1px solid red; */
    width: 100px; height: 100px; text-align: center;
    display: flex; justify-content: space-between; align-items: center;
    overflow: hidden;

}
.gnb a{}
.gnb a svg{width: 30px; height: 30px; margin-top: 3px;}

.btn{
    width: 30px; 
    height: 30px;
    /* border :1px solid yellow; */
    position: relative;    
}

.btn span{
    display: block;
    width: 30px; height: 3px;
    background-color: transparent;
    position: absolute;
}

.btn span.span1{top: 0; transition: all 0.3s ease-in-out;}

.btn span.span1::before{
    content: "";
    float: left;
    width: 20px; height: 3px;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn span.span1::after{
    content: "";
    float: right;
    width: 3px; height: 3px;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);}

.btn:hover span.span1::before{width: 3px;}
.btn:hover span.span1::after{width: 20px;}
.btn span.span2{top: 50%; transform: translateY(-50%);}
.btn span.span2::before{
    content: "";
    float: left;
    width: 3px; height: 3px;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn span.span2::after{
    content: "";
    float: right;
    width: 20px; height: 3px;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover span.span2::before{width: 20px;}
.btn:hover span.span2::after{width: 3px;}

.btn span.span3{bottom: 0;}
.btn span.span3::before{
    content: "";
    float: left;
    width: 20px; height: 3px;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.btn span.span3::after{
    content: "";
    float: right;
    width: 3px; height: 3px;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.btn:hover span.span3::before{width: 3px;}
.btn:hover span.span3::after{width: 20px;}

.box_box{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.box{
    width: 200%;
    height: 500px;
    border-radius: 50%;
    /* background-color: red; */
    transform: translateX(-25%);
}


.scrolldown{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll 1.5s infinite ease;
    z-index: 100;
}

@keyframes scroll{
    0%{bottom: 40px;}
    50%{bottom: 55px;}
    100%{bottom: 40px;}
}


.hoverMenu{
    z-index: 9000;
    width: 300px; height: 100vh; 
    position: fixed; top: 0; right: -300px;
    /* background: url("../images/logo_ori.svg") no-repeat 20px 850px ; */
    background-color: #000000c9;
}
.xButton{margin: 20px; cursor: pointer; transition: all 0.3s; width: 19px; height: 23px;}
.xButton:hover{transform: rotate(180deg);}
.xButton svg{width: 20px; height: 20px;}

.hoverMenu nav{margin: 50px auto; width: 200px;
    /* border: 1px solid #fff; */
}

.hoverMenuMain{}
.hoverMenuMain>li{width: 200px;}
.hoverMenuMain>li>a{
    display: block;
    height: 60px; line-height: 60px;
    text-align: center;
    font-size: 1.3rem;
    transition: all 0.5s;
    font-weight: 900;
}
    
.hoverMenuMain>li:hover>a{
    color: #f96;
    /* background: #000000c0; */
}

.hoverSub{display: none;}
.hoverSub li a{
    font-weight: 100;
    font-size: 15px;
    display: block;
    height: 30px; line-height: 30px;
    text-align: center;
    transition: all 0.5s;
}

.hoverSub li a:hover{
    color: #f96;
    border-bottom: 1px solid #f96;
    /* background-color: #000000c0; */
}





#wrap{margin: 0 auto;}
.wrap_inner section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    text-align: center;
}

/* .section01{background: url("../images/main01.jpg") no-repeat center;}

.section01-2{background: url("../images/main02.avif") no-repeat center;}

.section01-3{background: url("../images/main03.jpg") no-repeat center;} */

.section01_inner{
    /* border: 1px solid red; */
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #777777af;
}

.section01_inner h2{
    font-size: 2.1rem; 
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 800;
}
.section01_inner p{
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
}
.section01_inner a{
    border: 1px solid #fff;
    width: 180px; height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 50px;
    margin: 50px auto;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
}
.section01_inner a:hover{background-color: #f93;  border: transparent; }

.wrap_inner_in{position: relative;}

.circle_box{
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.box{
    width: 3000px;
    height: 1000px;    
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 두번째 페이지 */

.section02{
    width: 100vw;
    height: auto;
    /* border: 1px solid red; */
}
.section02_inner{
    /* border: 1px solid red; */
    text-align: center;
    color: #333;
} 
.section02_inner h2{
    margin-bottom: 30px;
}
.section02_inner h2 span{
    color: #f93;
}
.section02_inner p {
    line-height: 1.5;

}
.section02_inner ul{
    width: 70%; height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    /* border: 1px solid red; */
}
.section02_inner ul li{
    width: 150px; height: 150px;
    /* background-image: url("../images/circle.png"); */
    border: #f93 solid 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.section02_inner ul li:hover img{
    top: 33%; 
}
.section02_inner ul li:hover span{
    color: #f93;
}
.section02_inner ul li img{
    width: 30%;
    margin: 0 auto;
    transition: all 0.3s;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}
.section02_inner ul li span{
    position: absolute;
    margin-top: 5px;
    bottom: 35px; left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
}
/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////// */

.section03{
    width: 100vw; height: 100vh;
    /* border: 1px solid orange; */
    margin-top: 180px;
}

.portfolio_title{
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    margin-bottom: 100px;
}
.portfolio_title h2{padding-left: 150px; font-size: 36px;}
.portfolio_title ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .portfolio_title ul li{
    text-wrap: nowrap;
    }

.portfolio_title ul li a{
    padding: 15px 40px;
    margin: 0 6px;
    background-color: #ddd;
    color: #000;
    transition: all 0.3s;
}
.portfolio_title ul li:first-child a{ 
    background-color: #1c3899;
    color: #fff;
}
.portfolio_title ul li:hover a{
    background-color: #1c3899;
    color: #fff;
}


.portfolio_outer{
    position: relative;
    /* overflow: hidden; */
    height: 850px;
    height: auto;
    /* border: 1px solid red; */}

.portfolio_outer > div{
    /* border: 1px solid yellow; */
    position: absolute;
    width: 100%; height: auto;
}

.portfolio_tree{}

.p_tree_box{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.bluebox{width: 55%; height: 600px; float: left;}

.p_tree_box .p_tree_img1{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_tree1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_tree_box .p_tree_img2{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_tree2.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_tree_box .p_tree_img3{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_tree3.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_tree_box .bluebox_arrow{}

.portfolio_inner_text{
    float: right;
    height: 600px;
    width: 33%;
    /* border: 1px solid red; */
    color: #152a77;
    line-height: 2;
    background-color: #fff;
}
.portfolio_inner_text h3{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 40px 0;
    padding-top: 60px;
}
.portfolio_inner_text .vertical_bar{
    width: 50px; height: 1px;
    background-color: #0c1b51;
    margin: 30px 0;
}
.portfolio_inner_text h4{}
.portfolio_inner_text p{
    margin: 50px 0;
}
.portfolio_inner_text a{
    display: block;
    width: 180px; height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #0c1b51;
    transition: all 0.3s;
}
.portfolio_inner_text a:hover{
    background: #1c3899;
    color: #fff;
}

/* ///건축/////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */

.p_archi_box{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_archi_box .p_archi_img1{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_Architecture_1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_archi_box .p_archi_img2{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_Architecture_2.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_archi_box .p_archi_img3{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_Architecture_3.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* ///플랜트////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */

.p_plant_box{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_plant_box .p_plant_img1{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_industry_1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p_plant_box .p_plant_img2{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_industry_2.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* ///해외사업///////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */

.p_overseas_box{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_overseas_box .p_overseas_img1{
    width: 100%; height: 100%;
    background-color: #0c1b51;
    background-size: 720px 540px;
    background-image: url("../images/port_overseas_1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.portfolio_tree .slick-arrow{
    position: absolute;
    top: 50%;
    width: calc(57px/2); 
    height: 23px;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 11;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}

.portfolio_tree .slick-arrow.slick-prev{
    background: url("../images/left_arrow.png") no-repeat;
    left: calc(50% - 700px);
}
.portfolio_tree .slick-arrow.slick-next{
    background: url("../images/right_arrow.png") no-repeat;
    right: calc(50% - 800px);
    background-position: right;
}


.portfolio_archi .slick-arrow{
    position: absolute;
    top: 50%;
    width: calc(57px/2); 
    height: 23px;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 11;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}
.portfolio_archi .slick-arrow.slick-prev{
    background: url("../images/left_arrow.png") no-repeat;
    left: calc(50% - 700px);
}
.portfolio_archi .slick-arrow.slick-next{
    background: url("../images/right_arrow.png") no-repeat;
    right: calc(50% - 800px);
    background-position: right;
}


.portfolio_plant .slick-arrow{
    position: absolute;
    top: 50%;
    width: calc(57px/2); 
    height: 23px;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 11;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}
.portfolio_plant .slick-arrow.slick-prev{
    background: url("../images/left_arrow.png") no-repeat;
    left: calc(50% - 700px);
}
.portfolio_plant .slick-arrow.slick-next{
    background: url("../images/right_arrow.png") no-repeat;
    right: calc(50% - 800px);
    background-position: right;
}

/* ////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////// */
.section04{
    width: 100vw; height: 90vh;
    /* border: 3px solid forestgreen; */
    display: flex;
    margin: 0 auto;
    background-image: url("../images/login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.2s;
}
.sec4box {
    flex: 1;
    border-right: 1px solid #dddddd31;
    overflow: hidden; 
    transition: all 0.5s;
    background-color: rgba(73, 73, 73, 0.452);
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec4box:hover {
    filter: grayscale(0);
    flex: 1.5;
    background-color: rgba(155, 79, 4, 0.582);
}

.sec4box h2, .sec4box p{
    text-align: center;
    padding: 20px 0;
    text-shadow: 0 1px 1px #999;
}
.sec4box p{
    line-height: 1.6;

}

/* /////////////////////////////////////////////////////
/////////////////////////////////////////////////////
///////////////////////////////////////////////////// */

.footer{
    width: 100%; height: 90vh;
    /* border: 1px solid red; */
    color: #333;
}

.footer h2{
    /* border: 1px solid red; */
    margin: 30px 0 0 100px;
    width: 300px;
    padding: 25px 25px 25px 0;
    font-size: 2rem;
    font-weight: 900;
}

.con_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.con_top_left{
    /* border: 1px solid blue; */
    margin-left: 100px;
    line-height: 2;
    text-wrap: nowrap;
}

.con_top_left .checkbox{}
.con_top_left p{font-size: 1rem;}
.con_top_left p:nth-child(2){font-weight: 700;}
.con_top_left p:nth-child(3){}


.con_top_right{
    /* border: 1px solid blue; */
    margin-right: 100px;
}

.con_form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: auto; */
    height: auto;
}

.con_form input{
    border: none;
    background-color: #f5f6fa;
    padding: 20px;
    color: #555;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
}

.con1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.con2{height: 100%; display: flex;}

.con2 textarea{
    height: 280px; width: 500px; max-width: 500px; 
    border: none;
    background-color: #f5f6fa;
    padding: 20px;
    color: #555;
    border-radius: 20px;
}

.con3{}
.con3 input{
    height: 280px; width: 200px;
    background: #1c3899;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
.con3 input:hover{background: #142872;}

.con_bottom{
    display: flex; justify-content: space-between; align-items: center;
}
.con_bottom_left{
    margin: 150px 0 50px 100px;
    /* border: 1px solid red; */

}
.con_bottom_left .intro{
    font-weight: 800;
    font-size: 0.8rem;
}

.con_bottom_left .intro p{
    margin-top: 10px;
}

.con_bottom_left .info{
    color: #999;
    font-size: 0.8rem;
    margin: 30px 0;

}
.con_bottom_left .copy{
    font-weight: 800;
    font-size: 14px;
}

.con_bottom_right{
    margin: 80px 100px 50px 0;
    /* border: 1px solid blue; */
    text-align: right;
}
.con_bottom_right .mail{
    font-weight: 800;
    font-size: 2rem;
}
.con_bottom_right .telNum{
    font-weight: 800;
    font-size: 2.3rem;
    margin: 30px 0;
}
.con_bottom_right .time{font-size: 0.9rem;}

.con_bottom_right .topbutton{
    width: 64px; height: 65px;
    margin: 15px 0 0 auto;
    box-shadow: 0 0 3px #ccc;
}

.con_bottom_right .topbutton img{transition: all 0.2s;}
.con_bottom_right .topbutton:hover img{box-shadow: 0 0 2px #aaa;}